# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# intellij
*.iml
*.ipr
*.iws
/.idea/
/out/
/bin/

# we use gradle!
/build/
/.gradle/

# vim
.*.sw[a-p]

# various other potential build files
/dist
/manifest.mf
/dependency-reduced-pom.xml

# Mac filesystem dust
/.DS_Store