<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{[HH:mm:ss]} [%thread/%level] [%logger/%marker] %m %n"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>